/* Mobile & Tablet */
@media (max-width: 1023px) {
    

    .hide-on-moblie-tablet {
        display: none;
    }

    /* Header */
    .header {
        position: fixed;
        z-index: 11;
        top: 0;
        width: 100%;
    }
    
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    
    .header__cart-list::after {
        display: none;
    }
    
    /* App container */
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-hight));
    }

    .header__sort-bar {
        display: flex;
    }

    .app-content {
        padding-top: 8px;
    }

    .mobile-category {
        display: block;
    }
    
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {

    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__logo {
        width: unset;
    }

    .header__cart {
        width: unset;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.5s;
        z-index: 1;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }
        to {
            top: var(--header-height);
            opacity: 1;
        }
    }

    .header__logo-img {
        width: 110px;
    }

    .header__mobile-search {
        display: block;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(----header-sort-bar-hight));
        left: 0;
        width: 100%;
    }
    
    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .pagination-item {
        margin: 0;
    }

    .app-content {
        margin: 0 4px;
    }

    .footer__content {
        padding: 0 16px;
    }

    .footer__heading {
        text-align: center;
    }

    .footer__download,
    .footer-item__link {
        justify-content: center;
    }

    .footer__download-app {
        flex: unset;
    }

    .footer__download-app-link {
        display: block;
        padding: 6px 8px;
    }
}